.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-base-6);
  width: 100%;
  padding: var(--spacing-base-20) var(--spacing-base-24);
  background: var(--background-default-alt);

  @media (max-width: 960px) {
    padding: var(--spacing-base-12) var(--spacing-base-6);
  }
}

.title {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-heading3);
  color: var(--foreground-default);
}
